.first-display {
    margin: 20px;
    background-image: url("../../assets/ImgDisplay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-text {
    text-align: center;
    top: 340px;
    font-size: 70px;
    color: white;
}

.img-text span {
    color: green;
}

h3 {
    text-align: center;
    top: 343px;
    font-size: 25px;
    color: white;
    font-weight: 500;
}

  .buttons {
    display: flex;
    gap: 20px; /* space between buttons */
    justify-content: center;
    margin-top: 2rem; /* adjust as needed */
  }
  
  .btn {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    border: 1.5px solid transparent;
    background: green;
    color: white;

  }
  
  .btn:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    color: black;
  }